:root {
    --fondo-blanco: white;
    --fondo-blanco-alt: #FFFFFF;
    --fondo-tiza: #F5F5F5;
    --fondo-celeste: #EAF2FD;
    --fuente-negro-claro: #464646; 
    --fuente-gris-claro:#A2A2A2;
    --azul: #2A7AE4;
    --azul-claro: #5499f4;
    --raleway: 'Raleway', sans-serif;
}

body {
    font-family: var(--raleway);
    color: var(--fuente-negro-claro);
}

.container {
    padding-left: calc((100% - 1320px)/2);
    padding-right: calc((100% - 1320px)/2);
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1400px) {
    .container {
        padding-left: calc((100% - 1200px)/2);
        padding-right: calc((100% - 1200px)/2);
    }
}

@media screen and (max-width: 1280px) {
    .container {
        padding-left: calc((100% - 1000px)/2);
        padding-right: calc((100% - 1000px)/2);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}

@media screen and (max-width: 950px) {
    .container {
        padding-left: calc((100% - 740px)/2);
        padding-right: calc((100% - 740px)/2);
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: calc((100% - 500px)/2);
        padding-right: calc((100% - 500px)/2);
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding-left: calc((100% - 340px)/2);
        padding-right: calc((100% - 340px)/2);
    }
}



